@model Adventure_Game.Models.Screen
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @await  Component.InvokeAsync("TakableItems", Model)
</div>

<div>
    @await  Component.InvokeAsync("NavChoice", Model)
</div>


<div>
    <a asp-action="Index">Back To List</a>
</div>