@model IEnumerable<Adventure_Game.Models.AccessPoint>

@foreach (var accessPoint in Model)
{
    <a class="btn btn-block btn-dark"
       asp-action="Details"
       asp-controller="Screen"
       asp-route-id="@accessPoint.To">
        @accessPoint.Description
    </a>
}